.cardProductos{
    margin: 4px;
    align-items: center;
    justify-content: center;
}

.cardProducto{
    width: 19rem;
    margin: 4px;
}


/* Estilos para el formulario */

.form-contacto{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

.Titulo-contacto{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, .text-contacto{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

.text-contacto{
    min-height: 100px;
    max-height: 200px;
}

#boton{
    background-color: #31384a;
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}

@media (max-with:480px){
    form{
        width: 100%;
    }
}

.slide{
    margin: 10px;
    margin-left: 60px;
    margin-right: 60px;

}
.slide img{
    height: 60vh;
    
}

.carritoContainer{
    margin-top: 3%;
    margin-left: 26,5%;
    justify-content: center;
    align-items: center;
}



